body { background-color: #3a4660;
	   font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 80%;
		   color: #000000;
		   background-color: #e6e2d3;
		   margin-left: auto;
		   margin-right: auto;
		   min-width: 420px;
		   max-width: 1280px;
		   padding: 20px;
		   border: 5px solid #ed8a63;
		   display: flex;
		   min-height: 100vh;
		   flex-direction: column;
}
header { background-image: url(images/Logo.png);
		 background-repeat: no-repeat;
		 background-position: right;
		 background-color:#c9af98;
		 height: 200px;
		 border: 2px solid #ed8a63;
}
header h1 { font-size: 200%;
}
main { padding: 0 3em 3em;
      display: block;
	  margin-left: 10px;
}

nav { text-align: center;
	  font-weight: bold;
	  background-color: #845007;
	  padding: 2em;
	  border: 2px solid #ed8a63;
}
nav a { text-decoration: none;
		text-align: center;
		font-weight: bold;
		border-style: outset;
		border-color: #3a4660;
		border-width: 3px;
		padding: 1em;
		margin-bottom: 1em;
 }
nav div {margin: 0.5em;
		 padding: 1em;
}
h1 { padding-top: 50px;
	 padding-left: 2em;
}
h1, h2 { color: #845007;
		 font-family: Verdana;
		 font-size:150%;
		 text-align: center;
}
footer { background-color: #c9af98;
		 font-size: 75%;
		 font-style: italic; 
		 text-align: center; 
		 padding: 1em;
		 margin: 1em;
		 display: block;
}

div { padding: 2em;
	  margin: 25px;
}
dt {font-size: 150%;
	font-weight: bold;
}
#current { float: right;
		   margin: 10px;
		   padding: 15px;
		   margin-left: 30px;
		   text-indent: 3px;
		   background-color: #3a4660;
		   border: 5px solid #845007;
		   border-radius: 25px;
		   position: relative;
		   right: 10px;
		   color: white;
		   font-weight: bold;
		   
}
.floatright { float: right;
			  padding: 10px;
}
.floatleft {float: left;
			padding: 10px;
}

#catan {background-color: #FFF687;
		color: #B6202C;
		border: 5px solid #ed8a63;
		border-radius: 20px;
		min-height: 100px;
		
		font-weight: bold;
		margin: auto;
		margin-bottom: 10px;
		width: 90%;
		height: 20%;
}
#scythe {background-color: #61491E;
		color: #B9B7B7;
		border: 5px solid #ed8a63;
		border-radius: 20px;
		min-height: 100px;
		
		font-weight: bold;
		margin: auto;
		margin-bottom: 10px;
		width: 90%;
		height: 20%;
}
#ticket {background-color: #8F0F06;
		 color: #CB9A60;
		 border: 5px solid #ed8a63;
		 border-radius: 20px;
		 min-height: 100px;
		 
		 font-weight: bold;
		 margin: auto;
		 margin-bottom: 10px;
		 width: 90%;
		 height: 20%;
}
#imhotep {background-color: #FEC963;
		  color: #5B2E4B;
		  border: 5px solid #ed8a63;
		  border-radius: 20px;
		  min-height: 100px;
		
		  font-weight: bold;
		  margin: auto;
		  margin-bottom: 10px;
		  width: 90%;
		  height: 20%;
}
#codenames {background-color: #89144B;
		  color: #FFE405;
		  border: 5px solid #ed8a63;
		  border-radius: 20px;
		  min-height: 100px;
		  
		  font-weight: bold;
		  margin: auto;
		  margin-bottom: 10px;
		  width: 90%;
		  height: 20%;
}
#munchkin {background-color: #DF2526;
		  color: #FED69B;
		  border: 5px solid #ed8a63;
		  border-radius: 20px;
		  min-height: 100px;
		  
		  font-weight: bold;
		  margin: auto;
		  margin-bottom: 10px;
		  width: 90%;
		  height: 20%;
}
#foot {background-color: #b4ac99;
		  color: black;
		  border: 5px solid #ed8a63;
		  border-radius: 20px;
		  min-height: 100px;
		  
		  font-weight: bold;
		  margin: auto;
		  margin-bottom: 10px;
		  width: 90%;
		  height: 20%;
}
#kingdom {background-color: #902105;
		  color: #FBB901;
		  border: 5px solid #ed8a63;
		  border-radius: 20px;
		  min-height: 100px;
		  
		  font-weight: bold;
		  margin: auto;
		  margin-bottom: 10px;
		  width: 90%;
		  height: 20%;
}
#desert {background-color: #AE8C33;
		  color: #523B81;
		  border: 5px solid #ed8a63;
		  border-radius: 20px;
		  min-height: 100px;
		 
		  font-weight: bold;
		  margin: auto;
		  margin-bottom: 10px;
		  width: 90%;
		  height: 20%;
}
#root {background-color: #80737D;
		  color: #FFB457;
		  border: 5px solid #ed8a63;
		  border-radius: 20px;
		  min-height: 100px;
		  
		  font-weight: bold;
		  margin: auto;
		  margin-bottom: 10px;
		  width: 90%;
		  height: 20%;
}
#domino {background-color: #E95241;
		  color: #F7C860;
		  border: 5px solid #ed8a63;
		  border-radius: 20px;
		  min-height: 100px;
		  
		  font-weight: bold;
		  margin: auto;
		  margin-bottom: 10px;
		  width: 90%;
		  height: 20%;
}
#wonders {background-color: #D08565;
		  color: #421E00;
		  border: 5px solid #ed8a63;
		  border-radius: 20px;
		  min-height: 100px;
		  
		  font-weight: bold;
		  margin: auto;
		  margin-bottom: 10px;
		  width: 90%;
		  height: 20%;
}
.game-img {float: right;
		   padding: 20px;
		   margin: 10px;
}

nav a:link { color: #ed8a63; }
nav a:visited { color: #ed8a63; }
nav a:hover { color: #3a4660;
		  border-style: inset;
		  border-width: 3px;
		  border-color: #3a4660;
}
* { box-sizing: border-box; }

.results {float: left;
		  width: 27%;
		  background-color: #3a4660;
		  border: 5px solid #845007;
		  border-radius: 25px;
		  display: block;
		  min-height: 400px;
		  min-width: 250px;
		  color: white;
}
.dropbtn {background-color:#845007;
		  color: #ed8a63;
		  font-size: 16px;
		  border: 5px solid #3a4660;
		  font-weight: bold;
}
.dropdown {position: relative;
		   display: inline-block;
}
.dropdown-content {display: none;
				   position: absolute;
				   background-color: #3a4660;
				   min-width: 140px;
				   overflow: auto;
				   z-index: 1;
				   padding: 1em;
				   border: 3px solid #ed8a63;
}
.dropdown-content a {color: black;
					 padding: 1em;
					 text-decoration: none;
					 display: block;
					 margin-bottom: 1em;
}


.dropdown-content a:hover {background-color: #c9af98;
}
.dropdown:hover .dropdown-content {display: block;
}
.dropdown:hover .dropbtn {background-color: #c9af98;
}
table { margin-left: auto;
		margin-right: auto;
		width: 60%;
		border: 5px #3a4660;
		margin-bottom: 1em;
		border-collapse: collapse;
		text-align: center;
}
td, th { padding: 0.5em;
		 border-width: 1px;
		 border-color: #3f2860;
}
thead {font-weight: bold;
	   color: #3a4660;
	   background-color: #c9af98;
}
tr:nth-of-type(even) { background-color: #d7e8e9;
}
tr:hover {background-color: #809fff;
}
caption { margin: 1em;
		  font-weight: bold;
		  font-size: 120%;
		  color: #3a4660;
}
.button {background-color: #3a4660;
		font-weight: bold;
		padding: 10px;
		overflow: auto;
		
}
a:link { color: white; }
a:visited { color: white; }
a:hover { color: #ed8a63;
}

label { float: left;
		display: block;
		text-align: right;
		width: 10em;
		padding-right: 1em;
}
input, textarea { display: block;
				  margin-bottom: 2em;
}
input[type="submit"] { margin-left: 12em;
}
form { padding: 3em; }
fieldset { padding: 20px;
		   margin: 20px;
		   border: 4px solid black;
		   text-align: center;
}
@media (min-width: 768px) and (max-width: 1024px) 
{ body { margin: 0;
		 padding: 0; 
}
 #wrapper { min-width: 0;
			 padding: 0; }
h1 { display: none;
}
header { margin-right: 20%;
		  margin-left: 20%;
		  padding-right: 20%;
}
h1 		{ display: none;
}
main { padding-top: 0;
		 padding-bottom: 2.5em;
		 padding-left: 1em;
		 padding-right: 1em;
		 margin: 0;
		 font-size: 90%;
		 float: none; }
 nav { float: none;
		width: auto;
		padding-left: 2em; }
 nav a { padding: 0.2em;
		  margin-left: 0.3em;
		  float: left;
		  width: 23%; }
 h2, h3, p, dl { padding-left: 2em;
				  padding-right: 2em; }
 main ul { margin-left: 2em; }

@media (min-width: 481px) and (max-width: 767px)
{ h1 { display: none;
}
header { margin-right: 20%;
		 margin-left: 20%;
}
nav { display: inline;
	  margin: 1px;
	  
	  width: 100%;
	  

}
nav a {width: 100%;
	   margin: 1px;
}

.dropdown {width: 100%;
		   margin: 0px;
}

li {font-size: 100%;
}
}
footer { padding: 0.5em;
margin: 0; 
}


label {float: none;
	   text-align: left;
}
input[type="submit"] { margin-left: 0; 
}
}
